<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.rokevin.app">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- 下载服务 -->
        <service android:name=".update.DownloadService" />
        <service android:name=".upgrade.DownloadService" />

        <provider
            android:name=".update.AppUpdateFileProvider"
            android:authorities="${applicationId}.provider.app.update"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_update_provider_paths" />
        </provider>

        <provider
            android:name=".upgrade.AppUpdateFileProvider"
            android:authorities="${applicationId}.provider.app.update"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_update_provider_paths" />
        </provider>

    </application>

</manifest>
